body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    text-align: center;
    padding: 20px;
}

h1 {
    color: #2C3E50;
    font-size: 2em;
    margin-bottom: 15px;
}

img {
    width: 300px;
    height: auto;
    border-radius: 5px;
}

p {
    font-size: 1.1em;
    color: #34495E;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
